
<h1>Home</h1>


{% if user.is_authenticated %}
  <h2>Hi <b><u><a href={%url 'profile' user_id=user.id%}>
  {{ user.username }}!
  </b></h2></u></a>

  <a href = "{% url 'add_tweet' user_id=user.id%}"><button> Add Tweet</button></a>
  
  {% for tweet in tweet_data%}
    
    <p><a href={%url 'profile' user_id=user.id%}>{{tweet.author}}</a> |<a href = {%url 'tweet_view' tweet_id=tweet.id%}> {{tweet.date}} </a>| {{tweet.tweet}}</p>
  
  {%endfor%}
  
  <p><a href="{% url 'logout' %}">logout</a></p>
  

{% endif %}