
<h1>{{twitteruser}}'s Tweets:</h1>
<h2><p>Following: {{following_count}} | Tweets: {{ tweet_count }}</p></h2>
{% comment %} Peter Marsh assisted here! {% endcomment %}
{% if is_following %}
<a href = {% url 'unfollow' id=twitteruser.id%}><button>UnFollow</button></a>
{%else%}
<a href = {% url 'follow' id=twitteruser.id%}><button>Follow</button></a>
{%endif%}
| <a href= {%url 'home'%}><button>Home</button></a>
{%for tweet in user_tweets%}

<p>{{tweet.author}} | <a href = {%url 'tweet_view' tweet_id=tweet.id%}> {{tweet.date}} </a> | {{tweet.tweet}}</p>


{%endfor%}
