<html>
{%load static%}
<head>
<title>Twitter-Clone - SignUp</title>
<link rel="stylesheet" href="{% static 'css/signup.css' %}">

</head>
<body>
<div class = 'container'>
<div class = 'header'>
<h1>Twitter-Clone</h1>
</div>
<div class = 'section'>
<h2>Sign up</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <div class = "submit-button"><button type="submit" class = "submit-button">Sign up</button></div>
</form>
<a href = {% url 'login'%}> <button>LogIn</button></a>
</div>
</body>
</html>